solar:
  baseurl: ${lebe-url}
  order:
    maps:
      client:
        key: ${bing-maps-key}
        url: ${bing-maps-url}
    crm:
      client:
        sevDesk: ${lebe-sevdesk-api}
        lebe: ${lebe-sevdesk-key}
spring.cloud.azure.keyvault.secret.property-sources[0].endpoint: https://vault-lebe-backend.vault.azure.net/                      
spring:
  application:
    name: app-lebe-backend-api
  cloud:
    azure:
      keyvault:
        secret:
          endpoint: https://vault-lebe-backend.vault.azure.net/
      cosmos:
        database: ${cosmos-database}
        endpoint: ${cosmos-endpoint}
        key: ${cosmos-key}
  mail:
    username: ${lebe-email}
  security:
    oauth2:
      client:
        provider:
          azure:
            issuer-uri: ${azure-issuer}
        registration:
          azure-dev:
            provider: azure
            client-id: ${azure-client-id}
            client-secret: ${azure-client-secret}
            scope:
            - openid
            - email
            - profile    
management:
  endpoint:
    health:
      azure-key-vault:
        enabled: true          
      probes:
        enabled: true
      show-details: always
      
  security:
    enabled: false
  endpoints:
    web:
      exposure:
        include: '*'        
feign:
  hystrix:
    enabled: false
  client:
    config:
      sevDeskFactoryClient:
        requestInterceptors:
          - de.lebe.backend.sevdesk.api.ApiKeyRequestInterceptor
        loggerLevel: FULL
      sevDeskBaseDataClient:
        requestInterceptors:
          - de.lebe.backend.sevdesk.api.ApiKeyRequestInterceptor
        loggerLevel: FULL
      sevDeskContactClient:
        requestInterceptors:
          - de.lebe.backend.sevdesk.api.ApiKeyRequestInterceptor
        loggerLevel: FULL
      default:
        requestInterceptors:
          - de.lebe.backend.sevdesk.api.ApiKeyRequestInterceptor
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: FULL

hystrix:
  command:
    default:
      execution:
        isolation:
          strategy: SEMAPHORE